.minecraft/XaeroWorldMap
.minecraft/shaderpacks/superDuperVanilla.zip.txt
.minecraft/options.txt
.minecraft/logs
.minecraft/emi.json
.minecraft/screenshots/worlds/servers
.minecraft/.bobby
.minecraft/options.txt
.minecraft/servers.dat
.minecraft/servers.dat_old
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/resourcepacks/Quark Programmer Art.zip
natives
.minecraft/screenshots
.minecraft/saves
.minecraft/config/plasmovoice
.minecraft/config/entityculling.json
.minecraft/patchouli_data.json
.minecraft/config/bettervillage_1.properties
.minecraft/config/siege-machines-specs-1.toml.bak
.minecraft/config/siege-machines-specs-2.toml.bak
.minecraft/config/siege-machines-specs-3.toml.bak
.minecraft/config/siege-machines-specs-4.toml.bak
.minecraft/config/siege-machines-specs-5.toml.bak
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_*
.minecraft/WailaErrorOutput.txt
.minecraft/WailaErrorOutput.txt
.minecraft/config/bettervillage_1.properties
.minecraft/config/byg/backups/last_working_configs_backup.zip
.minecraft/config/jei/ingredient-list-mod-sort-order.ini
.minecraft/config/jei/recipe-category-sort-order.ini
.minecraft/config/libraryferret_1.properties
.minecraft/config/oculus.properties
.minecraft/config/worldedit/worldedit.properties
.minecraft/crash-reports